.hero-container {
    padding: 12rem 0;
}

.hero-section-image {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-image img {
    width: 85%;
    height:100%;
}

.intro-data {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #d77244;
}

.hero-section-data p {
    margin: 2rem 0;
    font-size: 1.2rem;
}

.hero-section-data h1 {
    text-transform: capitalize;
    font-weight: bold;
}

figure {
    position: relative;

}


@media (max-width: 1024px)  {
    .hero-container{
        padding: 12rem 5rem;
    }
}

@media (max-width:600px) {
.hero-container{
    padding: 6rem 0;
}
}