.nav_lists {
    display: flex;
    gap: 4.5rem;
    list-style: none;
    align-items: center;
}


.navbar_link {
    text-decoration: none;
    font-size: 1.8rem;
    color: #1b262c;
}


.navbar_link:hover {
    transition: color 0.3s linear;
    color: #695d48;
}


/* ========== Cart ==========  */
.cart_link {
    position: relative;
    color: black;
}

.cart_trolley {
    position: relative;
    font-size: 2rem;
}

.cart_total {
    background-color: #182f4b;
    font-size: 1rem;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    color: #bbe1fa;
    display: grid;
    place-items: center;
    top: -60%;
    left: 70%;
}

/* ========== for mobile view =========  */

.nav_items {
    display: none;
}

@media (max-width:600px) {
    .nav_lists {
        display: none;
    }

    .active.nav_lists {
        height: 100vh;
        width: 100vw;
        background: #000;
    }

    .nav_items {
        display: inline-block;
    }

    .close-active,
    .menu-active {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
    }

    .close-inactive,
    .menu-inactive {
        display: none;
    }
}