* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #bbe1fa;
  overflow-x: hidden;
  scrollbar-color: rgb(98 84 243);
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(24 24 29);
}

body::-webkit-scrollbar-thumb {

  background: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}



h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;

}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #0f4c75;
  color: #bbe1fa;
  padding: .8rem 1.2rem;
  border: transparent 1px solid;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;

}


.btn:hover {
  border: #0f4c75 1px solid;
  background-color: #bbe1fa;
  color: #0f4c75;
  transition: all 0.5s ease;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: 1fr 1.2fr .5fr .8fr;
}

.grid-five-column {
  grid-template-columns: repeat(5, 1fr);
}

.common-heading {
  font-size: 3.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
}


.caption {
  position: absolute;
  top: 15%;
  right: 10%;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  border-radius: 2rem;
}

input,
textarea {
  max-width: 50rem;

  padding: 1.6rem 2.4rem;
  text-transform: uppercase;
}

input[type="submit"] {
  max-width: 16rem;
  margin-top: 2rem;
  padding: 1.4rem 2.2rem;
  border-style: solid;
  border-width: .1rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: pointer;
}




@media (max-width: 1024px)  {
  html {
    font-size: 65%;
  }
  }

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 130rem;
    margin: 0 5%;
  }

  .grid {
    gap: 3.2rem;
  }

  .grid-two-column,
  .grid-three-column,
  .grid-four-column {
    grid-template-columns: 1fr;
  }
}